extends layout

block content
    .page-header
        .page-header_image
            img.img-resp.center(src='/images/bg-screen.png' alt='utec')
        .container
            h2 Compétences
    section.content
        .container
            .row
                .col-md-7
                    h2 Langages
                    ul.divided-list
                        li HTML, Pug
                        li PHP
                        li CSS, SCSS
                        li Java
                        li JavaScript
                        li SQL
                .col-md-5
                    img.img-resp(src='/images/web-language.png' alt='illustration')
            hr.my-5
            .row
                .col-md-4.order-1.order-md-0
                    img.img-resp(src='/images/framework.png' alt='illustration')
                .col-md-8.order-0.order-md-1
                    h2 Framework
                    ul.divided-list
                        li Bootstrap
                        li Jquery
                        li Materialize
                        li VueJS
            hr.my-5
            .row
                .col-md-7
                    h2 Logiciels
                    ul.divided-list
                        li PhpStorm
                        li Photoshop
                        li Eclipse
                        li Figma
                        li VMWare
                        li AdobeXD
                        li Visual Studio Code
                .col-md-5
                    img.img-resp(src='/images/software.png' alt='illustration')
            hr.my-5
            .row
                .col-md-4.order-1.order-md-0
                    img.img-resp(src='/images/gestion.png' alt='illustration')
                .col-md-8.order-0.order-md-1
                    h2 Gestion de projets
                    ul.divided-list
                        li GitHub
                        li GitKraken
                        li GitLab
