extends layout

block content
    .page-header
        .page-header_image
            img.img-resp.center(src='/images/folder.png' alt='utec')
        .container
            h2 Contact
    section.content
        .container
            h2 Me contacter
            ul
                li Mail :
                    a(href='mailto:sebastien.gaudard.1@gmail.com' target='_blank')  sebastien.gaudard.1@gmail.com

            h2 Mes réseaux sociaux
            ul
                li Github :
                    a(href='https://github.com/SebGrd')  SebGrd
                li LinkedIn :
                    a(href='https://www.linkedin.com/in/sébastien-gaudard-a36697180/' target='_blank')  Sébastien Gaudard
                li Instagram :
                    a(href='https://www.instagram.com/seb.gd/' target='_blank')  seb.gd