extends layout

block content
    .page-header
        .page-header_image
            img.img-resp.center(src='/images/bg-netcom.jpg' alt='utec')
        .container
            h2 Entreprise - Net.Com
    section.content
        .container
            h2 Une agence web
            .row
                .col-12.col-sm-8.col-lg-10
                    p
                        b  Net.Com
                        |  est une agence web certifi&eacute;e
                        b  ISO 9001
                        | . Elle agit majoritairement pour le service public et compte aujourd&apos;hui
                        |                     plus de
                        b  400 projets en 20 ans d&apos;&eacute;xperience
                        | . Sp&eacute;cialiste des CMS
                        b  Drupal
                        |  et
                        b  Wordpress
                        |  afin de produire des projets efficients et evolutifs.
                .col-sm-4.col-lg-2.d-none.d-sm-block
                    img.img-resp(src='/images/logo-netcom.jpeg' alt='logo net.com')
            .col-12
                .info-list.my-l
                    #graduated.info-list-item
                        i.far.fa-calendar-alt.icon-colored.icon-colored--blue
                        span 20
                        p ann&eacute;es d&apos;&eacute;xperience
                    #exam.info-list-item
                        i.fas.fa-certificate.icon-colored.icon-colored--purple
                        span ISO 9001
                        p Certification
                    #job.info-list-item
                        i.fas.fa-list.icon-colored.icon-colored--blue
                        span 400+
                        p projets r&eacute;alis&eacute;s
        .full-bg.mb-l
            .container
                h2 Informations relatives &agrave; l&apos;entreprise
                ul
                    li
                        b  Statut RCS
                        |  : Immatricul&eacute;e au RCS le 04-11-1998
                    li
                        b  Adresse
                        |  : ESPACE CRISTAL 89100 SAINT-CLEMENT
                    li
                        b  SIREN
                        |  : 420 668 865
                    li
                        b  SIRET (siege)
                        |  : 42066886500017
                    li
                        b  Forme juridique
                        |  : Soci&eacute;t&eacute; &agrave; responsabilit&eacute; limit&eacute;e
                    li
                        b  Effectifs
                        |  : 10 &agrave; 19 salari&eacute;s
                    li
                        b  Capital
                        |  : 50 000,00 &euro;
        .container
            h2 Mon r&ocirc;le au sein de l&apos;entreprise
            p
                | Mon travail eu sein de Net.Com est
                b  &quot;Int&eacute;grateur web&quot;
                | . Mon travail est de transformer les maquettes fournis par notre graphiste en tant que page web HTML.
            p Les diff&eacute;rents languages rencontr&eacute;s lors de ce travail sont :
            ul
                li
                    b  HTML
                li
                    b  CSS
                    |  (SCSS)
                li
                    b  Javascript
                    |  (Jquery)
            p
                | Une fois transform&eacute;es en pages, ces derni&egrave;res doivent &ecirc;tre adapt&eacute;es &agrave; tout les formats d&apos;&eacute;cran possible (
                b  reponsive
                | ) et
                b  compatible sur tous les navigateurs r&eacute;cents.
            h3.mt-m Mes derniers projets en date :
            ul
                li Seqens
                li CMA Paris
                li CH Dunkerque
                li CHRU Tours
                li CH Bourges
    section.page-footer
        .container
            .row.my-xl
                .col-12
                    #map-company.page-footer_map
                    .page-footer_info.my-s
                        p
                            b
                                | ESPACE CRISTAL
                                br
                                | 89100 SAINT-CLEMENT
                            br
                            | Site :
                            b       
                                a(href='https://www.net-com.fr/' target='_blank' title='Site de Net.Com') net-com.fr
                        img#logo-nc.img-resp(src='/images/logo-netcom.jpeg' alt='')
